body {
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "RivieraNightsTrial Regular";
  src: local('RivieraNightsTrial Regular'), local('RivieraNightsTrial-Regular'), 
   url('./css/RivieraNightsTrial-Regular.otf')format("truetype");
  font-style: normal;
  font-weight: 400px;
  font-size: 12px;
}
/* https://sitecloud-fonts.s3.ap-southeast-1.amazonaws.com/RivieraNightsTrial-Regular.otf */
@font-face {
  font-family: "RivieraNightsTrial Black";
  src: local('RivieraNightsTrial Black'), local('RivieraNightsTrial-Black'), 
   url('https://sitecloud-fonts.s3.ap-southeast-1.amazonaws.com/RivieraNightsTrial-Black.otf')format("truetype");
}


@font-face {
  font-family: "RivieraNightsTrial Bold";
  src: local('RivieraNightsTrial Bold'), local('RivieraNightsTrial-Bold'), 
   url('https://sitecloud-fonts.s3.ap-southeast-1.amazonaws.com/RivieraNightsTrial-Bold.otf')format("truetype");
  /* font-weight: 700px;
  font-size: 22px; */
}

@font-face {
  font-family: "RivieraNightsTrial Light";
  src: local('RivieraNightsTrial Light'), local('RivieraNightsTrial-Light'), 
   url('https://sitecloud-fonts.s3.ap-southeast-1.amazonaws.com/RivieraNightsTrial-Light.otf')format("truetype");
}

@font-face {
  font-family: "RivieraNightsTrial Medium";
  src: local('RivieraNightsTrial Medium'), local('RivieraNightsTrial-Medium'), 
   url('https://sitecloud-fonts.s3.ap-southeast-1.amazonaws.com/RivieraNightsTrial-Medium.otf')format("truetype");
}

@font-face {
  font-family: "RivieraNightsTrial Ultralight";
  src: local('RivieraNightsTrial Ultralight'), local('RivieraNightsTrial-Ultralight'), 
   url('https://sitecloud-fonts.s3.ap-southeast-1.amazonaws.com/RivieraNightsTrial-Ultralight.otf')format("truetype");
}

